* Makeshift CSS Reset */
*
{
    margin: 0;
    padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article
{
    display: block;
}

body
{
    margin: 0 auto;
    padding: 22px 0;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #FFFFFF;
}

img.scaler
{
	width: 100%;
	height:auto;
}

h1
{
	font-size: 4vw;
}

h2
{
	font-size:3.6vw;
}

h3
{
	font-size: 3.5vw;
}

nav ul
{
padding-bottom: 1vw;
list-style-type: none;
}
.prev
{
	width:10%;
	float:left;
	background-color:#ff0000;
	text-align:center;
}

.now
{
	width:10%;
	float:left;
	background-color:#ffbb02;
	text-align:center;
}

.future
{
	width:10%;
	float:left;
	background-color:#ffff02;
	text-align:center;
}

.w3-font
{
	font-family: 'Tangerine', serif;
}

@media (max-width:700px) {
  .prev, .now, .future {
    width:100%; /*The width is 100%, when the viewport is 800px or smaller*/
  }
}